.light {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: red;
  opacity: 0.4;
}
.light:hover {
  opacity: 1!important;
  box-shadow: rgba(0,128,255,0.2) 0px 8px 24px;
}
.trafficLight{
  border: 1px solid black;
  width: fit-content;
  background: rgb(129, 129, 7);
}
.base {
  width: 20px;
  height: 100px;
}
button {
  font-size: larger;
  font-weight: bolder;
}